            * {
                box-sizing: border-box;
            }
            
            .body {
                font-family: "DM Sans", sans-serif;
                margin: 0;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
            }
            
            .header {
                display: flex;
                justify-content: center;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 90px;
                // border: black solid 2px;
                width: 100%;
                h1 {
                    color: #901C1C;
                    // border: black solid 2px;
                }
                &__logo {
                    height: 50px;
                    // border: black solid 2px;
                }
                @media screen and (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            
            //index.html
            .main {
                // background-color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                // background-color: green solid 10px;
                #photographers {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    margin-top: 100px;
                    // border: #901C1C solid;
                    width: 100%;
                    @media screen and (max-width: 992px) {
                        grid-template-columns: 1fr;
                        // border: green solid;
                    }
                }
            }
            
            .photographer {
                // background-color: palevioletred;
                // border: red 2px solid;
                a {
                    text-decoration: none;
                    color: black;
                }
                p {
                    text-align: center;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                .card {
                    // border: black 2px solid;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .container-img {
                        overflow: hidden;
                        position: relative;
                        // border: blueviolet 2px solid;
                        width: 290px;
                        height: 290px;
                        &__img {
                            width: 100%;
                            position: absolute;
                            width: 290px;
                            height: 290px;
                            object-fit: cover;
                            top: 8px;
                            clip-path: circle(46%);
                        }
                    }
                    &__photographer-name {
                        text-align: center;
                    }
                }
            }
            
            //Photographer.html
            .photograph-header {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                background-color: #fafafa;
                &__title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    // border: red 2px solid;
                    padding-left: 5%;
                    p {
                        margin: 0;
                    }
                }
                &__button {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    // border: orange 2px solid;
                    .contact_button {
                        min-width: 170px;
                        background-color: #901c1c;
                        color: white;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        font-weight: 500;
                        font-size: 1.25rem;
                        padding: 10px 10px;
                        @media screen and (max-width: 992px) {
                            position: fixed;
                            bottom: 220px;
                            left: 50%;
                            transform: translate3d(-50%, 0, 0);
                            z-index: 10;
                        }
                    }
                }
                &__container-img {
                    overflow: hidden;
                    position: relative;
                    // border: blueviolet 2px solid;
                    width: 290px;
                    height: 290px;
                    &__img {
                        position: absolute;
                        width: 240px;
                        height: 240px;
                        object-fit: cover;
                        top: 20px;
                        left: 20px;
                        clip-path: circle(46%);
                        @media screen and (max-width: 992px) {
                            width: 190px;
                            height: 190px;
                        }
                    }
                }
            }
            
            .sorting {
                display: flex;
                @media screen and (max-width: 992px) {
                    flex-direction: column;
                }
                &__p {
                    width: 8%;
                    // border: 2px solid black;
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                }
                &__dropdown {
                    position: relative;
                    display: inline-block;
                    &:hover &__child {
                        display: block;
                    }
                    &__sort-button {
                        min-width: 170px;
                        background-color: #901c1c;
                        color: white;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        font-weight: 500;
                        font-size: 1.25rem;
                        padding: 10px 10px;
                        .fa-solid {
                            margin-left: 15px;
                        }
                    }
                    &__child {
                        display: none;
                        background-color: #901c1c;
                        position: absolute;
                        min-width: 170px;
                        border-radius: 5px;
                        a {
                            color: white;
                            padding: 10px 10px;
                            text-decoration: none;
                            display: block;
                            font-size: 1.25rem;
                            border-radius: 5px;
                        }
                        .date {
                            border-top: 2px solid white;
                            border-bottom: 2px solid white;
                        }
                    }
                }
            }
            
            // section gallery de photographe.html
            .gallery {
                // background-color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                // border: green solid 10px;
                #medias {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    margin-top: 100px;
                    // border: #901C1C solid;
                    width: 100%;
                    @media screen and (max-width: 992px) {
                        grid-template-columns: 1fr;
                        // border: green solid;
                    }
                    // &__photographer{
                    // }
                }
            }
            
            //c t .card-photo
            .card-media {
                display: flex;
                flex-direction: column;
                align-items: center;
                .container-photo {
                    overflow: hidden;
                    position: relative;
                    // border: blueviolet 2px solid;
                    width: 290px;
                    height: 290px;
                    &__photo {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                }
                .container-video {
                    overflow: hidden;
                    position: relative;
                    // border: blueviolet 2px solid;
                    width: 290px;
                    height: 290px;
                    &__video {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                }
                .items-media {
                    display: flex;
                    justify-content: space-between;
                    // border: blue 2px solid;
                    width: 290px;
                    &__note {
                        display: flex;
                        justify-content: space-between;
                        // border: #901C1C 2px solid;
                        p {
                            margin-right: 5px;
                        }
                        .fa-regular {
                            margin-top: 18px;
                        }
                    }
                }
            }
            
            .card-infos {
                position: fixed;
                display: flex;
                gap: 65px;
                bottom: 0;
                right: 35px;
                background-color: #db8876;
                border-radius: 5px 5px 0 0;
                padding: 20px 30px;
                font-size: 1.5rem;
                font-weight: 500;
                height: 60px;
                p {
                    margin: 0px;
                }
            }
            
            // #diaporama li.activ img {
            //     // display: block;
            //     background-color: #901C1C;
            // }
            // #diaporama li {
            //     list-style-type: none;
            // }
            // #diaporama li img {
            //     display: none;
            // }
            //Avec celui-là ça fonctionne
            // #diaporama {
            //     color: red;
            // }
            // #diaporama li {
            //     list-style-type: none;
            // }
            // #diaporama li.activ img {
            //     display: block;
            // }
            // #diaporama li img {
            //     display: none;
            // }
            .lightbox {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .9);
                z-index: 10;
                overflow: auto;
                animation: lightboxIn .5s;
            }
            
            .lightbox__next,
            .lightbox__prev {
                border: none;
                /* 100% 100% 6mn21 */
                // background: url(./svg/arrow.svg) center center /16px 28px no-repeat;
                background: url(../../scripts/medias/svg/arrow.svg) center center /16px 28px no-repeat;
                width: 50px;
                height: 100%;
                position: fixed;
                top: 0;
                right: 0;
                margin-top: -14px;
                z-index: 11;
                /* opacity: .5; */
                /* text-indent: -3000px; */
                /* cursor: pointer;
                transition: .3s; */
            }
            /* .lightbox__next:hover,
            .lightbox__prev:hover {
                opacity: 1;
            } */
            
            .lightbox__prev {
                right: auto;
                left: 0;
                transform: rotate(180deg);
            }
            
            .lightbox__close {
                width: 30px;
                height: 30px;
                border: none;
                background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.36 19.78L12 13.41L5.63997 19.78L4.21997 18.36L10.59 12L4.21997 5.63997L5.63997 4.21997L12 10.59L18.36 4.22997L19.77 5.63997L13.41 12L19.77 18.36L18.36 19.78Z" fill="white"/> </svg>')center center / 100% 100% no-repeat transparent;
                position: fixed;
                /* text-indent: -3000px; */
                top: 20px;
                right: 10px;
                /* opacity: .5; */
                z-index: 12;
            }
            /* Pour éviter la répétition */
            
            .lightbox button {
                opacity: .5;
                cursor: pointer;
                transition: opacity .3s;
                text-indent: -3000px;
            }
            
            .lightbox button:hover {
                opacity: 1;
            }
            /* Pour réduire l'image */
            
            .lightbox__container img {
                max-width: 100%;
                height: auto;
                animation: lightboxIn .5s;
            }
            
            .lightbox__container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 50px;
                margin-right: 50px;
                min-height: 100vh;
            }
            
            @keyframes lightboxIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }