* {
  box-sizing: border-box;
}

.body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
}
.header h1 {
  color: #901C1C;
}
.header__logo {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .main .row {
    grid-template-columns: 1fr;
  }
}

.photographer a {
  text-decoration: none;
  color: black;
}
.photographer p {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.photographer .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer .card .container-img {
  overflow: hidden;
  position: relative;
  width: 290px;
  height: 290px;
}
.photographer .card .container-img__img {
  width: 100%;
  position: absolute;
  width: 290px;
  height: 290px;
  object-fit: cover;
  top: 8px;
  clip-path: circle(46%);
}
.photographer .card__photographer-name {
  text-align: center;
}

.photograph-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fafafa;
}
.photograph-header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
}
.photograph-header__title p {
  margin: 0;
}
.photograph-header__button {
  display: flex;
  justify-content: start;
  align-items: center;
}
.photograph-header__button .contact_button {
  min-width: 170px;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 10px 10px;
}
@media screen and (max-width: 992px) {
  .photograph-header__button .contact_button {
    position: fixed;
    bottom: 220px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    z-index: 10;
  }
}
.photograph-header__container-img {
  overflow: hidden;
  position: relative;
  width: 290px;
  height: 290px;
}
.photograph-header__container-img__img {
  position: absolute;
  width: 240px;
  height: 240px;
  object-fit: cover;
  top: 20px;
  left: 20px;
  clip-path: circle(46%);
}
@media screen and (max-width: 992px) {
  .photograph-header__container-img__img {
    width: 190px;
    height: 190px;
  }
}

.sorting {
  display: flex;
}
@media screen and (max-width: 992px) {
  .sorting {
    flex-direction: column;
  }
}
.sorting__p {
  width: 8%;
}
@media screen and (max-width: 992px) {
  .sorting__p {
    width: 100%;
  }
}
.sorting__dropdown {
  position: relative;
  display: inline-block;
}
.sorting__dropdown:hover .sorting__dropdown__child {
  display: block;
}
.sorting__dropdown__sort-button {
  min-width: 170px;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 10px 10px;
}
.sorting__dropdown__sort-button .fa-solid {
  margin-left: 15px;
}
.sorting__dropdown__child {
  display: none;
  background-color: #901c1c;
  position: absolute;
  min-width: 170px;
  border-radius: 5px;
}
.sorting__dropdown__child a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 1.25rem;
  border-radius: 5px;
}
.sorting__dropdown__child .date {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .gallery .row {
    grid-template-columns: 1fr;
  }
}

.card-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-photo .container-photo {
  overflow: hidden;
  position: relative;
  width: 290px;
  height: 290px;
}
.card-photo .container-photo__photo {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 5px;
}

.items-photo {
  display: flex;
  justify-content: space-between;
  width: 290px;
}
.items-photo__note {
  display: flex;
  justify-content: space-between;
}
.items-photo__note p {
  margin-right: 5px;
}
.items-photo__note .fa-regular {
  margin-top: 18px;
}

/*# sourceMappingURL=style.css.map */
