/* @import url("photographer.css"); */

* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border: black solid 2px;
    width: 90%;
}

h1 {
    color: #901C1C;
    /* margin-right: 100px; */
    border: black solid 2px;
}

.logo {
    height: 50px;
    /* margin-left: 100px; */
    border: black solid 2px;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: green solid 2px;
}

.photographer_section1 {
    max-width: 1200px;
    width: 80%;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 70px;
    margin-top: 100px;
    border: #901C1C solid;
}

.photographer_section2 {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(auto-fill, 312px); */
    gap: 70px;
    margin-top: 100px;
    border: #901C1C solid;
}


/* .photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.container-photographer {
    background-color: palevioletred;
    border: red 2px solid;
    /* max-width: 300px;
    width: 30%; */
}

.container-photographer p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.clickable-carte {
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img {
    overflow: hidden;
    /* width: 290px;
    height: 290px; */
    position: relative;
    border: blueviolet 2px solid;
}

.mimie-kell-container {
    width: 290px;
    height: 290px;
}

.mimie-Kell-img {
    top: -40px;
    clip-path: circle(30%);
}

.ellie-rose-container {
    width: 250px;
    height: 290px;
}

.ellie-rose-img {
    /* top: -10px; */
    clip-path: circle(38%);
}

.photographer-name {
    text-align: center;
}

.img-test {
    /* display: block; */
    width: 100%;
    /* height: auto; */
    position: absolute;
    /* top: -40px;
    clip-path: circle(30%); */
}

@media screen and (max-width: 768px) {
    .photographer_section1 {
        grid-template-columns: 1fr;
    }
    .container-photographer {
        background-color: aqua;
    }
}


/* .deux {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 250px;
}

.trois {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height: 250px;
} */


/* .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */


/* .photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
} */