.photograph-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fafafa;
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // border: red 2px solid;
        padding-left: 5%;
        p {
            margin: 0;
        }
    }
    &__button {
        display: flex;
        justify-content: start;
        align-items: center;
        // border: orange 2px solid;
        .contact_button {
            min-width: 170px;
            background-color: #901c1c;
            color: white;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-weight: 500;
            font-size: 1.25rem;
            padding: 10px 10px;
            @media screen and (max-width: 992px) {
                position: fixed;
                bottom: 220px;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
                z-index: 10;
            }
        }
    }
    &__container-img {
        overflow: hidden;
        position: relative;
        // border: blueviolet 2px solid;
        width: 290px;
        height: 290px;
        &__img {
            position: absolute;
            width: 240px;
            height: 240px;
            object-fit: cover;
            top: 20px;
            left: 20px;
            clip-path: circle(46%);
            @media screen and (max-width: 992px) {
                width: 190px;
                height: 190px;
            }
        }
    }
}

// .sorting {
//     display: flex;
//     @media screen and (max-width: 992px) {
//         flex-direction: column;
//     }
//     &__p {
//         width: 8%;
//         // border: 2px solid black;
//         @media screen and (max-width: 992px) {
//             width: 100%;
//         }
//     }
//     &__dropdown {
//         position: relative;
//         display: inline-block;
//         // &:hover &__child {
//         //     display: block;
//         // }
//         &__sort-button {
//             min-width: 170px;
//             background-color: #901c1c;
//             color: white;
//             border-radius: 5px;
//             border: none;
//             cursor: pointer;
//             font-weight: 500;
//             font-size: 1.25rem;
//             padding: 10px 10px;
//             .fa-solid {
//                 margin-left: 15px;
//             }
//         }
//     }
// }
// *******************************************
// *******************************************
//************************************************
//************************************************
// .sorting {
//     display: flex;
//     position: relative;
// }
#filter_container {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 10;
}

#filter_container p {
    font-weight: bold;
}

#filter_elements {
    width: 170px;
    height: auto;
    color: #ffffff;
    background-color: #901C1C;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 10px gray;
    position: relative;
}

#up {
    display: none;
}

.fa-chevron-down,
.fa-chevron-up {
    color: #ffffff;
    position: absolute;
    top: 1.2rem;
    right: 1.4rem;
    cursor: pointer;
}

#filter_elements button {
    padding: 1rem;
    margin: 0;
    background-color: #901C1C;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
}

#filter_elements button:nth-child(0n+4) {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

#filter_date,
#filter_titre {
    display: none;
    z-index: 15;
}

//************************************************
//************************************************
//************************************************
//************************************************
// section gallery de photographe.html
.gallery {
    // background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: green solid 10px;
    #medias {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 100px;
        // border: #901C1C solid;
        width: 100%;
        @media screen and (max-width: 992px) {
            grid-template-columns: 1fr;
            // border: green solid;
        }
        // &__photographer{
        // }
    }
}

//c t .card-photo
.card-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-photo {
        overflow: hidden;
        position: relative;
        // border: blueviolet 2px solid;
        width: 290px;
        height: 290px;
        &__photo {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    .container-video {
        overflow: hidden;
        position: relative;
        // border: blueviolet 2px solid;
        width: 290px;
        height: 290px;
        &__video {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    .items-media {
        display: flex;
        justify-content: space-between;
        // border: blue 2px solid;
        width: 290px;
        &__note {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            // border: #901C1C 2px solid;
            p {
                margin-right: 5px;
            }
            .fa-regular {
                margin-top: 18px;
            }
            .fa-solid {
                margin-top: 18px;
            }
        }
    }
}

.card-infos {
    position: fixed;
    display: flex;
    gap: 65px;
    bottom: 0;
    right: 35px;
    background-color: #db8876;
    border-radius: 5px 5px 0 0;
    padding: 20px 30px;
    font-size: 1.5rem;
    font-weight: 500;
    height: 60px;
    p {
        margin: 0px;
    }
}