* {
    box-sizing: border-box;
}

.photograph-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fafafa;
    // border: #901c1c solid 2px;
    h1 {
        color: #D3573C;
        font-size: 3em;
        &:focus {
            outline: 2px solid #D3573C;
            border-radius: 5px;
            padding: 2px;
        }
    }
    .localisation {
        color: #901C1C;
    }
    .description {
        color: #525252;
        font-size: 1.125em;
    }
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // border: red 2px solid;
        padding-left: 5%;
        h2 {
            margin: 0;
            font-size: 1.5 em;
            &:focus {
                outline: 2px solid #D3573C;
                border-radius: 5px;
                padding: 2px;
            }
        }
        p {
            &:focus {
                outline: 2px solid #D3573C;
                border-radius: 5px;
                padding: 2px;
            }
        }
    }
    &__button {
        display: flex;
        justify-content: start;
        align-items: center;
        // border: orange 2px solid;
        .contact_button {
            min-width: 170px;
            background-color: #901c1c;
            color: white;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-weight: 500;
            font-size: 1.25rem;
            padding: 10px 10px;
            &:hover {
                background-color: #db8876;
                color: black;
            }
            &:focus {
                background-color: #db8876;
                color: black;
                outline: 2px solid black;
                border-radius: 5px;
                padding: 4px;
            }
            @media screen and (max-width: 992px) {
                position: fixed;
                bottom: 220px;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
                z-index: 10;
            }
        }
    }
    &__container-img {
        overflow: hidden;
        position: relative;
        // border: blueviolet 2px solid;
        width: 290px;
        height: 290px;
        &:focus {
            outline: 2px solid #D3573C;
            border-radius: 5px;
            padding: 4px;
        }
        &__img {
            position: absolute;
            width: 240px;
            height: 240px;
            object-fit: cover;
            top: 20px;
            left: 20px;
            clip-path: circle(46%);
            // border: blueviolet 2px solid;
            cursor: pointer;
            @media screen and (max-width: 992px) {
                width: 190px;
                height: 190px;
            }
        }
    }
}

//Filtres
#filter_container {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 10;
}

#filter_container p {
    font-weight: bold;
}

#filter_elements {
    width: 170px;
    height: auto;
    color: #ffffff;
    background-color: #901C1C;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px gray;
    position: relative;
}

#up {
    display: none;
}

.fa-chevron-down,
.fa-chevron-up {
    color: #ffffff;
    position: absolute;
    top: 1.2rem;
    right: 1.4rem;
    &:focus {
        // outline: 2px solid black;
        border-radius: 5px;
        padding: 4px;
        background-color: #db8876;
    }
    cursor: pointer;
}

#filter_elements button {
    padding: 1rem;
    margin: 0;
    background-color: #901C1C;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
}

#filter_elements button:nth-child(0n+4) {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

#filter_date,
#filter_titre {
    display: none;
    z-index: 15;
    &:hover {
        width: 100%;
        background-color: #db8876;
        color: black;
    }
    &:focus {
        width: 100%;
        background-color: #db8876;
        color: black;
        outline: 2px solid black;
        border-radius: 5px;
    }
}

#filter_pop {
    border-radius: 5px 5px 0px 0px;
    &:hover {
        background-color: #db8876;
        color: black;
    }
    &:focus {
        background-color: #db8876;
        color: black;
        outline: 2px solid black;
        border-radius: 5px;
    }
}

#filter_titre {
    border-radius: 0px 0px 5px 5px;
}

//************************************************
//************************************************
//************************************************
//************************************************
// section gallery de photographe.html
.gallery {
    // background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: green solid 10px;
    #medias {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 100px;
        // border: #901C1C solid;
        width: 100%;
        @media screen and (max-width: 992px) {
            grid-template-columns: 1fr;
            // border: green solid;
        }
    }
}

.card-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        &:focus {
            outline: 2px solid #db8876;
            border-radius: 5px;
        }
    }
    .container-photo {
        overflow: hidden;
        position: relative;
        // border: blueviolet 2px solid;
        width: 290px;
        height: 290px;
        &__photo {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            border-radius: 5px;
            &:focus {
                outline: 4px solid #db8876;
                border: 4px solid #db8876;
                border-radius: 15px;
            }
        }
    }
    .container-video {
        overflow: hidden;
        position: relative;
        // border: blueviolet 2px solid;
        width: 290px;
        height: 290px;
        &__video {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            border-radius: 5px;
            &:focus {
                outline: 4px solid #db8876;
                border: 4px solid #db8876;
                border-radius: 15px;
            }
        }
    }
    .items-media {
        display: flex;
        justify-content: space-between;
        // border: blue 2px solid;
        width: 290px;
        color: #901C1C;
        &__title {
            p {
                &:focus {
                    outline: 2px solid #db8876;
                    border-radius: 5px;
                }
            }
        }
        &__note {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            // border: #901C1C 2px solid;
            p {
                margin-right: 5px;
                &:focus {
                    outline: 2px solid #db8876;
                    border-radius: 5px;
                }
            }
            .fa-regular {
                margin-top: 18px;
                &:focus {
                    outline: 2px solid #db8876;
                    border-radius: 5px;
                }
            }
            .fa-solid {
                margin-top: 18px;
                &:focus {
                    outline: 2px solid #db8876;
                    border-radius: 5px;
                }
            }
        }
    }
}

.card-infos {
    position: fixed;
    display: flex;
    gap: 65px;
    bottom: 0;
    right: 35px;
    background-color: #db8876;
    border-radius: 5px 5px 0 0;
    padding: 20px 30px;
    font-size: 1.5rem;
    font-weight: 500;
    height: 60px;
    p {
        margin: 0px;
    }
}