* {
    box-sizing: border-box;
}

.body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    // border: black solid 2px;
    width: 100%;
    h1 {
        color: #901C1C;
        // border: black solid 2px;
    }
    &__logo {
        height: 50px;
        // border: black solid 2px;
    }
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//index.html
.main {
    // background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: green solid 10px;
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 100px;
        // border: #901C1C solid;
        width: 100%;
        @media screen and (max-width: 992px) {
            grid-template-columns: 1fr;
            // border: green solid;
        }
    }
}

.photographer {
    // background-color: palevioletred;
    // border: red 2px solid;
    a {
        text-decoration: none;
        color: black;
    }
    p {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .card {
        // border: black 2px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container-img {
            overflow: hidden;
            position: relative;
            // border: blueviolet 2px solid;
            width: 290px;
            height: 290px;
            &__img {
                width: 100%;
                position: absolute;
                width: 290px;
                height: 290px;
                object-fit: cover;
                top: 8px;
                clip-path: circle(46%);
            }
        }
        &__photographer-name {
            text-align: center;
        }
    }
}

//Photographer.html
.photograph-header {
    // border: blue 2px solid;
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fafafa;
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // border: red 2px solid;
        padding-left: 5%;
        p {
            margin: 0;
        }
    }
    &__button {
        display: flex;
        justify-content: start;
        align-items: center;
        // border: orange 2px solid;
        .contact_button {
            min-width: 170px;
            background-color: #901c1c;
            color: white;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-weight: 500;
            font-size: 1.25rem;
            padding: 10px 10px;
        }
    }
    &__container-img {
        overflow: hidden;
        position: relative;
        // border: blueviolet 2px solid;
        width: 290px;
        height: 290px;
        &__img {
            position: absolute;
            width: 240px;
            height: 240px;
            object-fit: cover;
            top: 20px;
            left: 20px;
            clip-path: circle(46%);
        }
    }
}

.sorting {
    display: flex;
    &__p {
        width: 8%;
        // border: 2px solid black;
    }
    &__dropdown {
        position: relative;
        display: inline-block;
        &:hover &__child {
            display: block;
        }
        &__sort-button {
            min-width: 170px;
            background-color: #901c1c;
            color: white;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-weight: 500;
            font-size: 1.25rem;
            padding: 10px 10px;
            .fa-solid {
                margin-left: 15px;
            }
        }
        &__child {
            display: none;
            background-color: #901c1c;
            position: absolute;
            min-width: 170px;
            border-radius: 5px;
            a {
                color: white;
                padding: 10px 10px;
                text-decoration: none;
                display: block;
                font-size: 1.25rem;
                border-radius: 5px;
            }
            .date {
                border-top: 2px solid white;
                border-bottom: 2px solid white;
            }
        }
    }
}

// section gallery de photographe.html
.gallery {
    // background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: green solid 10px;
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 100px;
        // border: #901C1C solid;
        width: 100%;
        @media screen and (max-width: 992px) {
            grid-template-columns: 1fr;
            // border: green solid;
        }
        // &__photographer{
        // }
    }
}

.card-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-photo {
        overflow: hidden;
        position: relative;
        // border: blueviolet 2px solid;
        width: 290px;
        height: 290px;
        &__photo {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}

.items-photo {
    display: flex;
    justify-content: space-between;
    // border: blue 2px solid;
    width: 290px;
    &__note {
        display: flex;
        justify-content: space-between;
        // border: #901C1C 2px solid;
        p {
            margin-right: 5px;
        }
        .fa-regular {
            margin-top: 18px;
        }
    }
}